body {
    font-family: "Viga", sans-serif;
    background-color: #f9f9ff;
}

.upper-bar {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #4dbf1c;
    color: white;
    padding: 8px;
    font-size: 14px;
}

.upper-bar a {
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar {
    background-color: white !important;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar-brand {
    font-family: "Viga", sans-serif;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-link {
    color: black !important;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-left: 25px;
}

.nav-link:hover {
    color: #4dbf1c !important;
}

.nav-link.active {
    color: #4dbf1c !important;
}

.dropdown-item {
    font-family: "Roboto", sans-serif !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.dropdown-item:hover {
    color: #4dbf1c;
    background-color: white;
}

p,
label,
input,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px !important;
}

label {
    color: #04091e;
}

button {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.main_btn {
    text-align: center;
    display: inline-block;
    background: #4dbf1c;
    padding: 0 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 48px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #4dbf1c;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}

.main_btn:hover {
    background: transparent;
    color: #4dbf1c;
}

.jumbotron a {
    margin-top: 40px;
    text-decoration: none;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(/images/s-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 655px;
}

.jumbotron h3 {
    color: white;
    text-align: center;
    margin-top: 250px;
    font-size: 48px;
    font-weight: 200;
}

.jumbotron p {
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 620px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: -15px;
}

.keunggulan i {
    background-color: #4dbf1c;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
}

.keunggulan h5 {
    color: black;
}

.keunggulan p {
    color: #acacac;
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px;
}

.ekstra {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 70px;
    background-color: white;
    padding: 30px;
    margin-bottom: 90px;
    margin-right: 30px;
    margin-left: 30px;

}

.ekstra img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ekstra h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}

.ekstrakurikuler p {
    text-align: center;
    color: black;
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 620px;
    margin: auto;
}

.informasi .owl-carousel .img-fluid {
    margin-top: 70px;
    width: 455px;
    height: 270px;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

.informasi .img-fluid:hover {
    transform: scale(1.05);
}

.informasi,
.ekstrakurikuler h3,
p {
    text-align: center;
}

.informasi .owl-carousel .item {
    overflow: hidden;
}

.informasi .owl-carousel .item p {
    margin-top: 30px;
    text-align: justify;
    color: #acacac;
    font-size: 14px;
}

.informasi .owl-carousel .item h6 {
    text-align: justify;
    margin-top: -5px;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: #4dbf1c;
}

.item hr {
    width: auto;
    border-bottom: #acacac;
}

section {
    min-height: 600px;
    display: block;
}

.ekstrakurikuler {
    background-color: white;
}

.staff {
    background-color: white;
}

.staff .card-img-top {
    width: 280px;
    height: 340px;
    display: block;
    position: relative;
}

.staff .owl-carousel {
    margin-top: 40px;
}

.card {
    border-radius: 12px;
}

.card-title {
    color: black;
}

.card-text {
    color: #4dbf1c;
    font-weight: 300;
    text-transform: uppercase;
}

.btn-outline-dark {
    outline-color: black;
    color: black;
}

.btn-outline-dark:hover {
    background: black;
}

.slogan {
    min-height: 450px;
    background: url(/images/s-bg.jpg) no-repeat scroll;
    background-size: cover;
    background-position: center;
}

.kontak {
    background-color: #04091e;
    min-height: 700px;
}

iframe {
    width: 450px;
    height: 300px;
}

.kontak h3,
h5 {
    color: white;
}

.kontak h5 {
    margin-bottom: 30px;
}

.kontak i {
    font-size: 24px !important;
    width: 40px;
    text-align: center;
    background: white;
    color: #04091e;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.kontak p {
    color: white;
    font-size: 14px;
    margin-top: 20px;
    text-align: justify !important;
}

.col-md-7 a {
    color: black !important;
    text-decoration: none;
}

.col-md-7 a:hover {
    color: #4dbf1c !important;
}

.col-md-7 p {
    margin-top: 30px;
    text-align: justify;
    color: #acacac;
    font-size: 14px;
}

.col-md-7 .img-fluid {
    width: 800px;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.col-md-7 .img-fluid:hover {
    transform: scale(1.01);
}

.page-item.active .page-link {
    background-color: #4dbf1c;
    border-color: #4dbf1c;
}

footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #04091e;
    color: white;
}

footer a {
    color: #4dbf1c;
}

footer a:hover {
    text-decoration: none;
    color: #4dbf1c;
}

.jumbotron.sambutan {
    min-height: 450px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),
            rgba(4, 9, 30, 0.7)),
        url(/images/2.jpg);
}

.sambutan h3 {
    margin-top: 200px;
}

.sambutan.animated {
    text-align: center;

}

.sambutan p,
a {
    color: white;
    text-decoration: none;
}

.sambutan,
.login a:hover {
    color: #4dbf1c;
}

.sambutan .fa {
    margin-left: 10px;
    margin-right: 10px;
}

.kata-sambutan .row {
    margin-left: 20px;
    margin-right: 20px;
}

.kata-sambutan b {
    margin-top: 18px;
    margin-bottom: 20px;
}

.kata-sambutan p {
    text-align: justify;
}

.jumbotron.login {
    min-height: 300px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),
            rgba(4, 9, 30, 0.7)),
        url(/images/2.jpg);
}

.login h3 {
    margin-top: 90px;
}

.log {
    background-color: white;
    margin-top: -30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: -900px;
}

input::placeholder {
    font-size: 14px;
}

.main_btnLogin {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    background: #04091e;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #04091e;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}

.main_btnLogin:hover {
    background: transparent;
    color: #04091e;
}

.main_btnDaftar {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    background: #4dbf1c;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #4dbf1c;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}

.main_btnDaftar:hover {
    background: transparent;
    color: #4dbf1c;
}

.forgot-password {
    color: #04091e !important;
    float: right;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 15px;
    text-decoration: none !important;
}

.forgot-password:hover {
    color: #4dbf1c !important;
}

.forgot-password i {
    margin-right: 8px;
}

ol {
    margin-inline-start: -25px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .upper-bar {
        text-align: left;
    }

    .upper-bar .kanan {
        text-align: right;
    }

    .jumbotron {
        min-height: 700px;
    }

    .row.justify-content-center.e-2 {
        margin-top: -90px;
    }

    .ekstra {
        margin-right: 20px;
        margin-left: 20px;
    }

    .informasi .img-fluid {
        width: 250px;
        height: 180px;
        display: block;
        position: relative;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    iframe {
        width: 550px;
        height: 450px;
    }

    .kata-sambutan .row {
        margin-left: 100px;
        margin-right: 100px;
    }

    .kata-sambutan.news .row {
        margin-left: -20px;
        margin-right: -20px;
    }
}
