body {
    font-family: "Viga", sans-serif;
    background-color: #f9f9ff;
}

.upper-bar {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #4dbf1c;
    color: white;
    padding: 8px;
    font-size: 14px;
}

.upper-bar a {
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar {
    background-color: white !important;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar-brand {
    font-family: "Viga", sans-serif;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 5px;
    font-size: 24px;
    line-height: inherit;
    white-space: nowrap;
}

.nav-link {
    color: black !important;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-left: 25px;
}

.nav-link:hover {
    color: #4dbf1c !important;
}

.nav-link.active {
    color: #4dbf1c !important;
}

.dropdown-item {
    font-family: "Roboto", sans-serif !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.dropdown-item:hover {
    color: #4dbf1c;
    background-color: white;
}

.dropdown-item.active {
    background-color: white;
    color: #4dbf1c;
}

p,
label,
input,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px !important;
}

label {
    color: #04091e;
}

button {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.main_btn {
    text-align: center;
    display: inline-block;
    background: #4dbf1c;
    padding: 0 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 48px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #4dbf1c;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}

.main_btn:hover {
    background: transparent;
    color: #4dbf1c;
}

.jumbotron a {
    margin-top: 40px;
    text-decoration: none;
}

.jumbotron.a {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(/images/5.jpg) no-repeat scroll;
    background-size: cover;
    background-position: center;
    min-height: 655px;
}

.jumbotron h3 {
    color: white;
    text-align: center;
    margin-top: 250px;
    font-size: 48px;
    font-weight: 200;
}

.jumbotron p {
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 620px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: -15px;
}

.keunggulan i {
    background-color: #4dbf1c;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
}

.keunggulan h5 {
    color: black;
}

.keunggulan p {
    color: #acacac;
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px;
}

.ekstra {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 70px;
    background-color: white;
    padding: 30px;
    margin-bottom: 90px;
    margin-right: 30px;
    margin-left: 30px;

}

.ekstra img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ekstra h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}

.ekstrakurikuler p {
    text-align: center;
    color: black;
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 620px;
    margin: auto;
}

.info-terbaru {
    text-align: center;
    color: black;
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 620px;
    margin: auto;
}

.informasi .owl-carousel .img-fluid {
    margin-top: 70px;
    width: 455px;
    height: 270px;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

.informasi .img-fluid:hover {
    transform: scale(1.05);
}

.informasi,
.ekstrakurikuler h3,
p {
    text-align: center;
}

.informasi .owl-carousel .item {
    overflow: hidden;
}

.informasi .owl-carousel .item p {
    margin-top: 30px;
    text-align: justify;
    color: #acacac;
    font-size: 14px;
}

.informasi .owl-carousel .item h6 {
    text-align: justify;
    margin-top: -5px;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: #4dbf1c;
}

.item hr {
    width: auto;
    border-bottom: #acacac;
}

section {
    min-height: 600px;
    display: block;
}

.ekstrakurikuler {
    background-color: white;
}

.staff {
    background-color: white;
}

.staff .card-img-top {
    width: 280px;
    height: 340px;
    display: block;
    position: relative;
}

.staff .owl-carousel {
    margin-top: 40px;
}

.card {
    border-radius: 12px;
}

.card-title {
    color: black;
}

.card-text {
    color: #4dbf1c;
    font-weight: 300;
    text-transform: uppercase;
}

.btn-outline-dark {
    outline-color: black;
    color: black;
}

.btn-outline-dark:hover {
    background: black;
}

.slogan {
    min-height: 450px;
    background: url(/images/s-bg.jpg) no-repeat scroll;
    background-size: cover;
    background-position: center;
}

.kontak {
    background-color: #04091e;
    min-height: 700px;
}

iframe {
    width: 450px;
    height: 300px;
}

.kontak h3,
h5 {
    color: white;
}

.kontak h5 {
    margin-bottom: 30px;
}

.kontak i {
    font-size: 24px !important;
    width: 40px;
    height: 45px;
    text-align: center;
    background: white;
    color: #04091e;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
}

.fa-map {
    font-size: 24px !important;
    width: 40px;
    height: 65px !important;
    text-align: center;
    background: white;
    color: #04091e;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
}

.kontak p {
    color: white;
    font-size: 14px;
    margin-top: 20px;
    text-align: justify !important;
}

.col-md-7 a {
    color: black !important;
    text-decoration: none;
}

.col-md-7 a:hover {
    color: #4dbf1c !important;
}

.col-md-7 p {
    margin-top: 30px;
    text-align: justify;
    color: #acacac;
    font-size: 14px;
}

.col-md-7 .img-fluid {
    width: 800px;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.col-md-7 .img-fluid:hover {
    transform: scale(1.01);
}

.page-item.active .page-link {
    background-color: #4dbf1c;
    border-color: #4dbf1c;
}

footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #04091e;
    color: white;
}

footer a {
    color: #4dbf1c;
}

footer a:hover {
    text-decoration: none;
    color: #4dbf1c;
}

.jumbotron.sambutan {
    min-height: 450px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),
            rgba(4, 9, 30, 0.7)),
        url(/images/2.jpg);
    background-size: cover;
    background-position: center;
}

.sambutan h3 {
    margin-top: 200px;
}

.sambutan.animated {
    text-align: center;

}

.sambutan p,
a {
    color: white;
    text-decoration: none;
}

.sambutan a:hover {
    color: #4dbf1c !important;
}

.sambutan .fa {
    margin-left: 10px;
    margin-right: 10px;
}

.kata-sambutan .row {
    margin-left: 20px;
    margin-right: 20px;
}

.kata-sambutan b {
    margin-top: 18px;
    margin-bottom: 20px;
}

.kata-sambutan p {
    text-align: justify !important;
}

.kata-sambutan.news {
    margin-bottom: 40px;
}

.kata-sambutan.news h5 {
    color: black;
    margin-bottom: 20px;
}

.kata-sambutan.news .col-md-4 hr {
    margin-top: 5px;
    color: black !important;
    margin-left: -15px;
    border: 0.4px dashed;
}

.kata-sambutan.news a {
    color: black;
    text-decoration: none;
}

.kata-sambutan.news a:hover {
    color: #4dbf1c;
}

.kata-sambutan .col-lg-8 {
    margin-top: 40px;
}

.jumbotron.login {
    min-height: 300px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),
            rgba(4, 9, 30, 0.7)),
        url(/images/2.jpg);
    background-size: cover;
    background-position: center;
}

.login h3 {
    margin-top: 90px;
}

.login a:hover {
    color: #4dbf1c !important;
}

.log {
    background-color: white;
    margin-top: -30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: -900px;
}

input::placeholder {
    font-size: 14px;
}

textarea {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
}

.card-header p {
    text-align: center !important;
}

.main_btnLogin {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    background: #04091e;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #04091e;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}

.main_btnLogin:hover {
    background: transparent;
    color: #04091e;
}

.main_btnDaftar {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    background: #4dbf1c;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #4dbf1c;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}

.main_btnDaftar:hover {
    background: transparent;
    color: #4dbf1c;
}

.forgot-password {
    color: #04091e !important;
    float: right;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 15px;
    text-decoration: none !important;
}

.forgot-password:hover {
    color: #4dbf1c !important;
}

button i {
    margin-right: 8px;
}

a i {
    margin-right: 8px;
}

ol {
    margin-inline-start: -25px;
}

.tempat ul {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: -20px;
}

.waktu ul {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: -20px;
}

.kuota ul {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: -5px;
}

.biaya ul {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: -5px;
}

.prosedur ol {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: -5px;
}

.d-flex.active {
    color: #4dbf1c !important;
}

.invalid-feedback {
    font-family: "Roboto", sans-serif;
}

.alert-primary {
    font-family: "Roboto", sans-serif;
    background-color: #04091e;
}

.alert-primary a {
    color: white !important;
}

.alert-primary a:hover {
    color: #4dbf1c !important;
}

strong {
    font-family: "Roboto", sans-serif;
}

.widget-wrap .search-widget form.search-form input[type=text] {
    color: #fff !important;
    padding: 10px 22px;
    font-size: 14px;
    border: none;
    float: left;
    width: 70%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #04091e;
}

.widget-wrap .search-widget form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #04091e;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.nextprevious .float-right {
    margin-right: 20px !important;
}

.nextprevious .float-left {
    margin-left: 20px !important;
}

.nextprevious .img-fluid {
    width: 100px !important;
    height: 70px !important;
}

.hr {
    margin-left: 20px;
    margin-right: 20px;
}

.previous {
    float: left;
    text-align: left;
    margin-left: 20px !important;
}

.next {
    float: right;
    text-align: right;
    margin-right: 20px !important;
}

.widget-wrap {
    background: #fafaff;
    padding: 20px 0px;
    border: 1px solid #eee;
}

.widget-wrap .single-sidebar-widget {
    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.widget-wrap .search-widget form.search-form::after {
    content: "";
    clear: both;
    display: table;
}

.widget-wrap .user-info-widget {
    text-align: center;
}

.widget-wrap .user-info-widget img {
    width: 120px;
    height: 120px;
}

.widget-wrap .user-info-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget-wrap .user-info-widget .social-links li {
    display: inline-block;
    margin: 8px;
}

.widget-wrap .post-category-widget .cat-list li {
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 2px dotted #eee;
    transition: all 0.3s ease 0s;
    font-family: "Roboto", sans-serif;
    list-style: none;
    margin-left: -40px;
}

.widget-wrap .post-category-widget .cat-list li a {
    color: #777;
}

.widget-wrap .post-category-widget .cat-list li a:hover {
    color: #4dbf1c;
}

.widget-wrap .post-category-widget .cat-list li p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.widget-wrap .post-category-widget .category-title {
    background: #04091e;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
    font-family: "Roboto", sans-serif;
}

select {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
}

table {
    font-family: "Roboto", sans-serif;
    font-size: 12px !important;
}

thead {
    background: #04091e;
    color: white;
    font-family: "Roboto", sans-serif;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .upper-bar {
        text-align: left;
    }

    .upper-bar .kanan {
        text-align: right;
    }

    .jumbotron.a {
        min-height: 665px;
    }

    .row.justify-content-center.e-2 {
        margin-top: -90px;
    }

    .ekstra {
        margin-right: 20px;
        margin-left: 20px;
    }

    .informasi .img-fluid {
        width: 250px;
        height: 180px;
        display: block;
        position: relative;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .kata-sambutan .row {
        margin-left: 100px;
        margin-right: 100px;
    }

    .kata-sambutan.news .row {
        margin-left: -20px;
        margin-right: -20px;
    }

    .dropdown-menu {
        margin-top: 18px;
    }

    .hr {
        margin-left: 100px;
        margin-right: 100px;
    }

    .kata-sambutan .col-lg-8 {
        margin-top: 0 !important;
    }

    .kata-sambutan .col-lg-8 .img-fluid {
        width: 750px;
        height: 400px;
    }

    .nextprevious .float-right {
        margin-right: 100px !important;
    }

    .nextprevious .float-left {
        margin-left: 100px !important;
    }

    .nextprevious p {
        text-align: right !important;
    }

    .form-group.row {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }

    .card-body .col-sm-12 {
        margin-left: -40px;
    }

}

@media (max-width: 575.98px) {
    iframe {
        width: 380px;
        height: 300px;
    }

    .ekstra-mobile {
        margin-top: -40px;
    }
}
